body{
	width: 600px;
	margin: 0 auto;
}
@media screen and (max-width: 600px) {
    body {
		width:100%;  
  	}
}
#nav{
	width: 100%;
	max-width: 600px;
	text-align: center;
	font-family: 'MicroSoft Yahei', sans-serif;	
	position: fixed;
	top: 83px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;	
	/*padding-top: -5px;*/
}
@media screen and (max-width: 475px) {
   #nav {
		top: 70px;
  	}
}
@media screen and (max-width: 400px) {
   #nav {
		top: 72px;
  	}
}
@media screen and (max-width: 350px) {
   #nav {
		top: 76px;
  	}
}
@media screen and (max-width: 320px) {
   #nav {
		top: 70px;
  	}
}
#nav .hehe{
	background: white;
	padding-top: 5px;
}
#ul1 {
	color: white;
	background-color: #599AFE;
	overflow: hidden;
	position: relative;
}
.li1 a{
	display: block;
}
#ul1 .li1 {
	/*height: 100%;*/
	float: left;
}
#ul1 .li1:nth-child(1){
	width: 21.05%;
	/*text-indent: 20px;*/
}
#ul1 .li1:nth-child(2){
	width: 19.3%;
}
#ul1 .li1:nth-child(3){
	width: 19.3%;
}
#ul1 .li1:nth-child(4){
	width: 19.3%;
}
#ul1 .li1:nth-child(5){
	/*text-indent: -0px;*/
	width: 21.05%;
}
#ul1 .li1 a {
	height: 100%;
	/*padding-bottom: 40%;*/
	font-size: 20px;
	line-height: 2.5em; 
	text-align: center;
	letter-spacing: 2px;
	border-right: 1px solid #A2C1EF;
	text-decoration: none;
	color: white;
}
#ul2 .li2{
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	display: none;
}
.li2:nth-child(1){
	position: absolute;
	top: -15%;
	left:-0.5%;
}
.li2:nth-child(2){
	position: absolute;
	top: -15%;
	left: 19%;
}
.li2:nth-child(3){
	position: absolute;
	top: -15%;
	left: 38%;
}
.li2:nth-child(4){
	position: absolute;
	top: -15%;
	left: 57.5%;
}
.li2:nth-child(5){
	position: absolute;
	top: -15%;
	left: 76.5%;
}
#ul2 .li2  img{
	width: 120%;
	position: relative;
	max-width: none;
}
#ul2 .li2 em{
	position: absolute;
	top: 45%;
	left: 38%;
	color: white;
	font-weight: lighter;
	font-size: 15px;
	font-family:Arial,sans-serif;
	line-height: 16px;
}
#ul2 .li2 .nav_anli{
	left: 40%;
}
#ul2 .li2 strong{
	font-weight: lighter;
	font-size: 18px;
	font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;
}
.anli{
	width: 20%;
	text-align: center;
	background: #1969E2;
	position: absolute;
	top: 100%;
	left: 39.7%;
	display: none;
}
.anli li{
	padding: 15px 0;
	line-height: 15px;
	border-bottom: 1px solid #5E96EB;
	font-size: 17px;
}
.anli li:nth-child(1){
	margin-top: 4px;
	border-top: 1px solid #5E96EB;
}
.pinzhi{
	width: 20%;
	text-align: center;
	background: #1969E2;
	position: absolute;
	top: 100%;
	left: 59.2%;
	display: none;
}
.pinzhi li{
	padding: 15px 0;
	line-height: 15px;
	border-bottom: 1px solid #5E96EB;
	font-size: 17px;
}
.anli a{
	color: white;
}
.pinzhi a{
	color: white;
}
.pinzhi li:nth-child(1){
	margin-top: 4px;
	border-top: 1px solid #5E96EB;
}
/*-------------------------------------------@media*/
@media screen and (max-width: 600px) {
	#ul2 .li2:nth-child(1),#ul2 .li2:nth-child(2),#ul2 .li2:nth-child(3),#ul2 .li2:nth-child(4),#ul2 .li2:nth-child(5){
		top: -23%;
	}
}
@media screen and (max-width: 600px) {
	#ul2 .li2:nth-child(1),#ul2 .li2:nth-child(2),#ul2 .li2:nth-child(3),#ul2 .li2:nth-child(4),#ul2 .li2:nth-child(5){
		top: -13%;
	}
}

@media screen and (max-width: 520px) {
	#ul2 .li2 em,#ul2 .li2 strong,.pinzhi li,.anli li{
		font-size: 3vw;
	}
	#ul1 .li1 a {
		font-size: 3.5vw;
	}
	.pinzhi li,.anli li{
		padding: 10px 0;
	}
}
@media screen and (max-width: 485px) {
	#ul2 .li2:nth-child(1),#ul2 .li2:nth-child(2),#ul2 .li2:nth-child(3),#ul2 .li2:nth-child(4),#ul2 .li2:nth-child(5){
		top: -8%;
	}
	#ul2 .li2 em{
		top: 37%;
	}
}
@media screen and (max-width: 415px) {
	#ul2 .li2 em{
		line-height: 12px;
		left: 35%;
	}
}
@media screen and (max-width: 340px) {
	#ul2 .li2:nth-child(1),#ul2 .li2:nth-child(2),#ul2 .li2:nth-child(3),#ul2 .li2:nth-child(4),#ul2 .li2:nth-child(5){
		top: -5%;
	}
	#ul2 .li2 em{
		top: 32%;
		left: 33.5%;
	}
}


